.footer-link {
    color: black; /* Bootstrap's primary blue */
    text-decoration:none;
}
.footer-link:hover{
    color:#0d6efd;
}
.social-icon {
    color: #6c757d;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #0d6efd;
}
.topic-button{
    border: 1px solid #ccc;
    border-radius:4px;
    background-color:white;
}
.topic-button:hover{
    background-color:#f3f9ff;
}
.quiz-container-submit{
    width: 100%;
    background-color: #3964c4;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: 500;
}
.quiz-container-submit:disabled {
    background-color: #a0b0d6; /* Lighter blue for disabled state */
    cursor: not-allowed;
}
.next-question-button {
    width: 100%;
    background-color: #2cba70; /* Green color from screenshot */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: 500;
}
.explanation-box {
    background-color: #e1f5fe; /* Light blue background */
    border-radius: 4px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #9eeaf9;
}
.questionNumberBadge{
    background-color: #1e40af;
}
.nav-text{
    color: #5b5b5b;
    text-decoration:none;
    padding:11px 14px;
    border-radius:7px;
}
.nav-text:hover{
    color: #0d6efd;

}
.nav-text.active{
    background-color: #f1f8ff;
    color: #0d6efd;
}
.main-nav{
    height:75px;
}